<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <div class="modal hidden">
     {{> "./templates/modal.hbs"}}
    </div>  
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Category</th>
          <th>Content</th>
          <th>Dates</th>
          <th>
            <button class="btn-icon" data-action="operate">
              <svg class="icon">
                <use xlink:href="./images/icons.svg#archive"
                fill="#fff"></use>
              </svg>
            </button>
          </th>
        </tr>
      </thead>
      <tbody id="activeNotes">
      </tbody>
      <tbody id="archivedNotes" class="hidden">

      </tbody>
    </table> 
   <div class="btn-create__wrapper">
      <button id="create" class="btn">Create Note</button>
   </div>

    <table>
      <thead>
        <tr>
          <th>Note category </th>
          <th>Active</th>
          <th>Archived</th>
        </tr>
      </thead>
      <tbody id="notesCounter">
        <tr>
          <td>
            <div class="icon-wrapper">
              <svg class="icon icon-category" id="bin">
                <use xlink:href="./images/icons.svg#task"  fill="#fff"></use>
              </svg>  
            </div>
            Task
        </td>
          <td id="taskActive">0</td>
          <td id="taskArchived">0</td>
        </tr>
        <tr>
          <td>
            <div class="icon-wrapper">
              <svg class="icon icon-category" id="bin">
                <use xlink:href="./images/icons.svg#thought"  fill="#fff"></use>
              </svg>  
            </div>
            Random Thought
        </td>
          <td id="thoughtActive">0</td>
          <td id="thoughtArchived">0</td>
        </tr>
        <tr>
          <td>
            <div class="icon-wrapper">
              <svg class="icon icon-category" id="bin">
                <use xlink:href="./images/icons.svg#idea"  fill="#fff"></use>
              </svg>  
            </div>
            Idea
        </td>
          <td id="ideaActive">0</td>
          <td id="ideaArchived">0</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>