.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    margin-bottom: 10px;
  }

  &__icon-wrapper {
    width: 70px;
    height: 70px;
    margin-right: 0;
    cursor: pointer;
  }

  &__icon {
    height: 50px;
    width: 50px;
  }
  
}